@page "/ajoutFacture"
@using Facturations.Shared

<h1>Ajout d'une facture</h1>

<form action="">
    <input type="text" placeholder="client" name="client" />
    <input type="text" placeholder="référence" name="reference" />
    <input type="text" placeholder="date d'émission" name="dateEmission" />
    <input type="text" placeholder="date de règlement attendue" name="dateReglementAttendu" />
    <input type="text" placeholder="montant dû" name="montantDu" />
    <input type="text" placeholder="montant réglé" name="montantRegle" />
    <button type="submit">Créer facture</button>
</form>
