@page "/ajoutFacture"

<h1>Ajout d'une facture</h1>

<form action="/api/factures" method="post">
    <input type="text" placeholder="Client..." name="client" /><br />
    <input type="text" placeholder="Référence..." name="reference" /><br />
    <input type="date" name="dateEmission" /><br />
    <input type="date" name="dateReglementAttendu" /><br />
    <input type="text" placeholder="Montant dû" name="montantDu" /><br />
    <input type="text" placeholder="Montant réglé" name="montantRegle" /><br />
    <button type="submit">Créer facture</button>
</form>
