@page "/ajoutFacture"

<h1>Ajout d'une facture</h1>

<div>
  <form action="/api/factures" method="post">
    <div>
      <label for="client">Client :</label>
      <input type="text" placeholder="Client..." name="client" /><br />
      <label for="reference">Référence :</label>
      <input type="text" placeholder="Référence..." name="reference" /><br />
      <label for="dateEmission">Date d'émission :</label>
      <input type="date" name="dateEmission" /><br />
      <label for="dateReglementAttendu">Date attendu pour le règlement :</label>
      <input type="date" name="dateReglementAttendu" /><br />
      <label for="montantDu">Montant dû :</label>
      <input type="text" placeholder="Montant dû" name="montantDu" /><br />
      <label for="montantRegle">Montant réglé :</label>
      <input type="text" placeholder="Montant réglé" name="montantRegle" /><br />
    </div>
    <div>
      <button type="submit">Créer facture</button>
    </div>
  </form>
</div>
