@page "/chiffresAffaires"

@inject HttpClient http 
@using Facturations.Shared

<h1>Chiffres d'affaires</h1>

<p>Un aperçu des chiffres d'affaires réels et attendus.</p>

@if (data != null)
{
  <p>Chiffre d'affaire attendu : @data.Last().CAAttendu euros.</p>
  <p>Chiffre d'affaire réel : @data.Last().CAReel euros.</p>
}
else
{
  <p>Interrogation du serveur...</p>
}

@code {
  private IEnumerable<Facture> data;

  protected async override Task OnInitializedAsync()
  {
    data = await http.GetFromJsonAsync<IEnumerable<Facture>>("api/factures");
  }
}