@page "/chiffresAffaires"
@using Facturations.Shared
@inject HttpClient http 

<h1>Chiffres d'affaires</h1>

<p>Un aperçu des chiffres d'affaires réels et attendus.</p>

@*@if (factures != null)
{
  <p>Chiffre d'affaire attendu : @data.getCAAttendu() euros.</p>
  <p>Chiffre d'affaire réel : @data.getCAReel() euros.</p>
}*@

@code {

  @*private IEnumerable<Facture> factures = null;

  public double getCAAttendu()
  {
    return data.getCAAttendu();
  }

  public double getCAReel()
  {
    return factures.;
  }

  protected async override Task OnInitializedAsync()
  {
    factures = await http.GetFromJsonAsync<IEnumerable<Facture>>("api/factures");
  }*@

}